@{
    ViewBag.Title = "";
}


@using (Html.BeginForm())  
{  
<div class="d-flex justify-content-center">
    <div class="bs-example p-3" >
        <h2 class="text-center my-3">@ViewBag.Title</h2>
        <h3 class="text-center my-3">@ViewBag.Message</h3>
        <form>
            <div class="form-group row d-flex justify-content-center">
                @*<label for="userName" class="col-sm-3 col-form-label">User</label>*@
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="userName" placeholder="Enter username">
                </div>
            </div>
            <div class="form-group row d-flex justify-content-center">
                @*<label for="password" class="col-sm-3 col-form-label">Password</label>*@
                <div class="col-sm-12">
                    <input type="password" class="form-control" id="password" placeholder="Enter password">
                </div>
            </div>
            <div class="loginbtn d-flex justify-content-center">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-default calculate-route">Login</button>
                    @*<input type="submit" value="Login" class="btn btn-primary"/>*@
                </div>
            </div>
        </form>
        <div class="form-group error">
            @if (@ViewBag.Failedcount != null)
            {

                <label> Failed Attempt count is: @ViewBag.Failedcount</label>
            }

            @if (@ViewBag.NotValidUser != null)
            {

                <label> @ViewBag.NotValidUser</label>
            }
        </div>
    </div>
</div>

}  
